@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255; /* Change text color to white */
  --background-start-rgb: 0, 0, 0; /* Start of background gradient is black */
  --background-end-rgb: 0, 0, 0; /* End of background gradient is black */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0; /* Change text color to black */
    --background-start-rgb: 214, 219, 220; /* Start of background gradient is light gray */
    --background-end-rgb: 255, 255, 255; /* End of background gradient is white */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
